<div class="container">
<form #registerform = "ngForm" (ngSubmit)= "registerUser()">
    <div id="panel">

        <small class = "text-danger">{{msg}}</small>
<label for="email">Email:</label>
<input type="text" id="email" name="email" [(ngModel)]= "form.email" >
<label for="username">Username:</label>
<input type="text" id="username" name="username" [(ngModel)]= "form.username">
<label for="password">Password:</label>
<input type="password" id="password" name="password" [(ngModel)] = "form.password">
<div id="lower">
<!-- <input type="submit" value="Login"> -->
<input type="submit" id="register" value="register">
</div>
</div>
</form>
