<div class="container">

    <header>  
      
  <nav > 
       <a class = "menu" href=" " >Home</a>
        <a class = "menu" href="#">Contact</a>
        <a class = "menu" type="submit" href="/login">Login</a>
        <a class = "menu" href="/registration">Register</a>
       
  </nav>
        <h1>File manager</h1>
      <h2>Login if you want to have access</h2> 
    </header>

<body>
  <section>
<article>
  <img class = "left" src="assets\upload.png" alt="upload foto">
  <p>
    
    Upload any kind of file up to 1GB  With the high speed servers, 
    file upload will  never be the same again. Register for free to 
    keep track of your uploaded files or other advance features.
  </p>


</article>
  </section>
 

</body>
   
   
  >
   

</div>