* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background: url('/assets/background.jpg');
    width: 100vw ;
    height: 100vh ;
    margin-left: -8px;
    margin-right: 8px;
    margin-top: -8px;
    margin-bottom: -8px;
    background-size: cover;
}
nav {
    background:#668099;
        position: sticky;
        height: 50px;
        top: 0px
}
a.menu{
    display: inline-block;
    width: 25%;
    padding: 15px 30px 15px 20px;
    color: white;
    text-decoration: none;
    text-align: center;
}
a.menu:hover{
background-color: rgb(167, 164, 164);
}




h1{
text-align: center;
background: linear-gradient(
      rgba(61, 59, 59, 0.4),
      rgba(87, 85, 85, 0.6));
color:rgb(255, 255, 255);
margin-top: 30px;
margin-left: 680px;
margin-right: 680px;
font-size: 90px;
}
h2{
    text-align: center;
background: linear-gradient(
      rgba(61, 59, 59, 0.4),
      rgba(87, 85, 85, 0.6));
color:red;
font-size: 55px;
margin-top: 250px;
margin-left: 530px;
margin-right: 530px;
}

p{
    text-align: left;
    color: rgb(211, 36, 36);
    margin-left: 100px;
    margin-top: 40px;
    font-size: 40px;
    background: beige;
}





