


    <label >
      <input type="file" (change)="selectFile($event)" />
    </label>

    <button [disabled]="!selectedFiles" (click)="upload()">
      Upload
    </button>

<div class="all" *ngIf="currentFile" >
  <div class= "progres"
    attr.aria-valuenow="{{ progress }}"
    aria-valuemin="0"
    aria-valuemax="100"
    [ngStyle]="{ width: progress + '%' }">
    {{ progress }}%

  </div>
<div  *ngIf="message"  role="alert">{{ message }}</div>
</div>
<div class="files">
  <h2>List of Files</h2>
  <table>
    <tbody >
      <tr><th class="name">Name</th> <th class="date">Date</th><th class= "date">

        File size</th> <th class= "delete">Delete</th></tr>
   
      <tr *ngFor="let file of fileInfos  | async "   > 

       <td class="name" > <a href="{{ file.fileName }}"  > {{ file.fileType }} </a> </td>

        <td class="date"> <a> {{ file.localDate }} </a> </td>

       <td class="date"> {{ file.size }} </td>

       <td class ="delete">  <a href="{{ file.fileUri }}"  > Click! </a>  </td>
      </tr>
    </tbody>
  </table>


</div>