* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}
 .back{
background-color: #6666CC;
margin-left: -8px;
margin-right: -8px;
margin-top: -8px;
margin-bottom: -8px;
     height: 100%;
 }
 nav {
    background:#9966CC;
    text-align: center;
        position: sticky;
        height: 60px;
        top: 0px
}
a.menu{
    display: inline-block;
    width: 50%;
    padding: 20px 30px 15px 20px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
}
a.menu:hover{
    background-color: rgb(167, 164, 164);
    height: 60px;
    }
.all{
    position: absolute;
margin-left: 10%;
margin-top: 50px;
font-size: 25px;
font-weight: 600;
}
label.file{
    background-color: gold;
}
label{
    position: relative;
    top: 40px;
    left: 34%;
    padding: 15px;
    height: 60px;
    border: 1px solid black;
    color:black;  
    background: linear-gradient(
        rgba(122, 122, 115, 0.7),
        rgba(95, 95, 90, 0.9));
}
button{
    position: relative;
    top: 40px;
    left: 36%;
 padding: 20px 20px 20px 20px;
 text-align: center;
 color:black;
 height: 60px;
 background: linear-gradient(
    rgba(122, 122, 115, 0.7),
        rgba(95, 95, 90, 0.9));
 border: 1px solid black;
 color:black;  
 font-weight: 600; 

   
}

.files{
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 200px;
    text-decoration: none;
}
a{
    font-size: 25px;
    text-decoration: none;
    color: black;
    font-weight: 700;
   padding-left: 20px;
}
h2{
    position: absolute;
    left: 45%;
    margin-top: -60px;
    font-size: 35px;
}
table{
    border-spacing: 20px;
    border-collapse: separate;
    margin-top: 240px;
    font-weight: 700;
    font-size: 30px;
    width: 100%;
    border: 2px solid black;
    background: rgb(212,210,213);
background: linear-gradient(90deg, rgba(212,210,213,1) 7%, 
rgba(215,210,210,1) 49%, rgba(231,230,230,1) 97%);
}
 th.name{
    height: 60px;
    width: 500px;
    border: 1px solid black;
    background: rgb(176,174,177);
    background: #b0aeb1;
 }
td.name{
    border: 1px solid black;
    height: 60px;
    width: 500px;
    background-color: azure;
}
th.date{
    height: 60px;
    width: 300px;
    border: 1px solid black;
    background: rgb(176,174,177);
    background: #b0aeb1;
 }
 td.date{
    text-align: center;
    border: 1px solid black;
    height: 60px;
    width: 300px;
    background-color: azure;
}
td.delete{
    text-align: center;
    border: 1px solid black;
    height: 60px;
    padding-right: 20px;
    width: 100px;
    background-color: azure;
}

th.delete{
    text-align: center;
    height: 60px;
    width: 100px;
    border: 1px solid black;
    background: rgb(176,174,177);
    background: #b0aeb1;
 }