<div class= "contact">

<header>
 
<div class= "back">

<nav class="menu">
    <a class = "menu" href="/home">Home</a>
    <a class = "menu"  href="/login" >Login</a>
</nav>



<h1>About website</h1>

<p>Project prepared for recruitment to "Transition Technologies Science Sp. z o.o" company. 
    The project is protected by logging(by Spring Security, PasswordEncoder).
    Website downloads, deletes and sends files.  
   Website has user role, only "ROLE_USER" is using  at the moment</p>
 
   <ul>
    <li><b>Name:</b> Michał Frydrych</li>
    <li> <b>Phone:</b>  501588090</li>
    <li> <b>Email:</b> m.frydrych03@wp.pl</li>
  </ul>
<nav class="emoji">
   
    <a class="link" target="_blank" href="https://github.com/Michuu01/Recruitment_Project"><img src="assets\GitHub.png" alt="GitHub link"> </a>
    <a class="link" target="_blank" href="assets\CV.pdf"><img src="assets\CV.png" alt="CV link"></a>
    <a class="link" target="_blank" href="assets\PDF1.pdf"><img src="assets\pdf.png " alt="PDF link"></a>
</nav>



</div>
</header>



</div>
